cmd/nixinit-server/uploads/nixinit
cmd/nixinit/nixinit
cmd/nixinit-server/nixinit-server
test
vm-images/iso/result
vm-images/qcow/result
vm-images/qcow/nixinit-bootstrap.qcow2
vm-images/qcow-efi/result
build
vendor
